#left-content{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
	-webkit-column-rule: dotted;
	-moz-column-rule: dotted;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	background-color: lightblue;
	font-family: "黑体";
}
